{% extends "navbar.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'demo.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bagus.Profile</title>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css' />
    <noscript>
        <style>
            .st-accordion ul li{
                height:auto;
            }
            .st-accordion ul li > a span{
                visibility:hidden;
            }
        </style>
	</noscript>
</head>

<div id="loading">
    <img src="{% static 'playboy.gif' %}" id="loadingFull">
</div>

<body class="bga1">
    <div class="rows">
        <div class="header">
            <h1 id="name">My Profile</p>
        </div>
        <div class="flex-item">
            <div id="st-accordion" class="st-accordion">
                <ul>
                    <li>
                        <a href="#">Profil umum ?<span class="st-arrow">Open or Close</span></a>
                        <div class="st-content">
                            <ul>
                                <li>nama lengkap : Bagus Pribadi</li>
                                <li>TTL          : Bagus Pribadi</li>
                                <li>Alamat       : Bagus Pribadi</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">Aktivitas saat ini ?<span class="st-arrow">Open or Close</span></a>
                        <div class="st-content">
                            <p>Untuk saat ini aktif dalam organisasi DPM UI sebagai staff divisi PSDM.</p>
                            <p>Jika lulus bidding, maka akan menjadi PO Wisuda Ganjil 2019 dan PJ divisi dekorasi CGT 2019</p>
                        </div>
                    </li>
                    <li>
                        <a href="#">Pengalaman Organisasi/Kepanitiaan ?<span class="st-arrow">Open or Close</span></a>
                        <div class="st-content">
                            <p>Sejauh ini pengalaman organisasi saat berkuliah hanya staff DPM Fasilkom UI sebagai staff PSDM.</p>
                            <p>Untuk kepanitiaan, sudah pernah menjadi LO untuk Wisgan 2018 dan Wisgen 2018, dekorasi untuk CGT 2018 dan Compfest 2018.</p>
                        </div>
                    </li>
                    <li>
                        <a href="#">Prestasi ?<span class="st-arrow">Open or Close</span></a>
                        <div class="st-content">
                            <p>Ga punya prestasi di bidang apapun :)</p>
                        </div>
                    </li>
                    <li>
                        <div class="flex-item">
                            <button class="change" onclick()>Theme Changer</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		<script type="text/javascript" src="{%static 'jquery.accordion.js' %}"></script>
		<script type="text/javascript" src="{%static 'jquery.easing.1.3.js' %}"></script>
        <script type="text/javascript">
            $(function() {
			
				$('#st-accordion').accordion({
					oneOpenedItem	: true
				});
                
            });
            
            $(".change").click(function(){
               $(".bga1").toggleClass("bga2"); 
            });
            
            $(document).ready(function() {
                $("#loading").fadeOut(2000);
            });
            
        </script>
    </div>
</body>

</html>
{% endblock %}