{% extends "navbar.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>\
        <meta name="google-signin-client_id" content="251329489425-576b68t5jcvjokav37g09re3586fqhl6.apps.googleusercontent.com">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-signin-scope" content="profile email">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <title>Login.Page</title>
    </head>
    
    <div id="loading">
        <img src="{% static 'playboy.gif' %}" id="loadingFull">
    </div>

    <body style = "background-color: #5CDB95;">
    {% csrf_token %}
    
        <div class="header">
            <h1 id="name" size="4vmax">Mau login ?</h1>
        </div>
        
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" style="margin-left:42.5%; margin-top:200px;"></div>
        
        <button type="submit" class="btn" id="outBtn">out</button>
    <script>
      
    </script>
    </body>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="{%static 'jquery.accordion.js' %}"></script>
    <script type="text/javascript" src="{%static 'jquery.easing.1.3.js' %}"></script>
    <script type="text/javascript">
        
        $(document).ready(function() {
            $("#loading").fadeOut(2000);
            gapi.load('auth2', function() {
                gapi.auth2.init();
          });
        });
        
        $("#outBtn").click(signOut());
        
        function onSignIn(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;
            sendToken(id_token);
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut();
        }

        var sendToken = function (token) {
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajax({
                method: "POST",
                url: "/login/",
                headers: {
                    "X-CSRFToken": csrftoken
                },
                data: {id_token: token},
                success: function (result) {
                    if (result.status === "0") {
                        window.location.replace(result.url)
                    } else {
                        html = "<h3>Something error, please report</h3>"
                        $("h3").replaceWith(html)
                    }

                },
                error: function (error) {
                    alert("Something error, please report")
                }
            })
        };
        
    </script>
</html>
{% endblock %}