{% extends "navbar.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>\
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Status.Page</title>
    </head>
    
    <div id="loading">
        <img src="{% static 'playboy.gif' %}" id="loadingFull">
    </div>

    <body style = "background-color: #5CDB95;">
        <div class="header">
            <h1 id="name" size="4vmax">Hello, Apa kabar?</h1>
        </div>
    </body>
    
    <br>
    
    <div class="fle" style="width : 50%; margin-left : 25%;">
        <section name="form">
            <form id="form" method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <input type="submit" value="Submit" style="width : 60px;">
            </form>
        </section>
    </div>
    
    <br><br>
    
    <div class = "fle" style="width:90%; margin-left:5%;">
        <div class="table">
            <table class="table">
                <thead style="font-color = 05386B">
                    <th>Date</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    {% for i in stat %}
                    <tr>
                        <td> {{i.date}} </td>
                        <td> {{i.status}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>    
        </div>
    </div>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="{%static 'jquery.accordion.js' %}"></script>
    <script type="text/javascript" src="{%static 'jquery.easing.1.3.js' %}"></script>
    <script type="text/javascript">
        
        $(document).ready(function() {
            $("#loading").fadeOut(2000);
        });
        
    </script>
</html>
{% endblock %}