{% extends "navbar.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
        <link rel="stylesheet" type="text/css" href="{%static 'demo.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Library.me</title>
        <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css' />
        <noscript>
            <style>
                table,th,td {
                    border : 1px solid black;
                    border-collapse: collapse;
                }
                th,td {
                    padding: 5px;
                }
            </style>
        </noscript>
    </head>
    
    <div id="loading">
        <img src="{% static 'playboy.gif' %}" id="loadingFull">
    </div>
    
    <button class='quil' onclick()>Get Quilting Books</button>
    <button class='fan' onclick()>Get Fantasy Books</button>
    
    <body class="bga1">
        <table class="bookList" border="1">
                <th>Title</th>
                <th>Author</th>
                <th>Published Date</th>
                <th>Description</th>
                <th>Favourite</th>
        </table>
        <h1>Buku Favorite : <p id="fav">0</p></h1>
    </body>
    
    <script>
        
        tongkat("quilting"); 
        
        $('.fan').click(function() {
            $(".bookList td").remove();
            tongkat("fantasy");
        });
        
        $('.quil').click(function() {
            $(".bookList td").remove(); 
            tongkat("quilting");
        });
        
        function tongkat(lobang){
            $.ajax({
                url: "/list/" + lobang,
                success: function(data) {
                    var tr;
                    for(var i = 0; i < data.items.length; i++){
                        tr = $('<tr/>');
                        tr.append("<td>"+data.items[i].volumeInfo.title+"</td>");
                        tr.append("<td>"+data.items[i].volumeInfo.authors+"</td>");
                        tr.append("<td>"+data.items[i].volumeInfo.publishedDate+"</td>");
                        tr.append("<td>"+data.items[i].volumeInfo.description+"</td>");
                        tr.append("<td><button class='star' id='"+i+" onclick()'><i class='fa fa-star'></button></td>");
                        $('.bookList').append(tr);
                    }
                    var count = 0;
                    $(".star").click(function(){
                        $(this).toggleClass("active");
                        if( $(this).hasClass("active") ){
                            count ++;
                            $("#fav").text(count);
                        }
                        else {
                            count --;
                            $("#fav").text(count);
                        }
                    });
                }
            });
        }
        
        $(document).ready(function() {
            $("#loading").fadeOut(2000);
            gapi.load('auth2', function() {
                gapi.auth2.init();
            });
        });
    </script>
</html>
{% endblock %}