{% extends "navbar.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Subscriber.Me</title>
    </head>

    <div id="loading">
        <img src="{% static 'playboy.gif' %}" id="loadingFull">
    </div>

    <body style = "background-color: #5CDB95;">
        <div class="header">
            <h1 id="name" size="4vmax">Silahkan daftar untuk Subscribe!</h1>
        </div>
    </body>
    
    <div class="flex" style="width : 50%; margin-left : 25%;">
        <section name="form">
            <form id="form" method="POST" style="width:90%; margin-left:5%;">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn" id="subscribeBtn" disabled="true">Subscribe</button>
        </form>
        </section>
    </div>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="{%static 'jquery.accordion.js' %}"></script>
    <script type="text/javascript" src="{%static 'jquery.easing.1.3.js' %}"></script>
    <script type="text/javascript">
        
        $(document).ready(function() {
            $("#loading").fadeOut(2000);
        });
        
        $(document).ready(function(){
            var bool = false;
            
            $('.form-control').keyup(function(){
                var name = document.getElementById("nameInput");
                var email = document.getElementById("emailInput");
                var pass = document.getElementById("passInput");
                if(name.value.length != 0 && email.value.length != 0 && pass.value.length != 0){
                    checker(email.value);
                }
                else{
                    document.getElementById("subscribeBtn").textContent = "Subscribe";
                    $('.btn').attr('disabled',true);
                }
            });
            
        });
        
        function checker(value) {
            $.ajax({
                type: "POST",
                data: {
                    email: value,
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
                },
                dataType: "json",
                url: '/subscribe/check',
                success: function(result) {
                    if (!result['invalid']) {
                        document.getElementById("subscribeBtn").textContent = "Subscribe";
                        $('.btn').attr('disabled', false);
                    }
                    else{
                        document.getElementById("subscribeBtn").textContent = "Email exist!";
                        $('.btn').attr('disabled',true);
                    }
                }
            });
        }
        
        $('#subscribeBtn').click(function(e){
            e.preventDefault();
            var name = document.getElementById("nameInput").value;
            var email = document.getElementById("emailInput").value;
            var password = document.getElementById("passInput").value;
            $.ajax({
                type: "POST",
                data: {
                    name: name,
                    email: email,
                    password: password,
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
                },
                dataType: "json",
                url: '/subscribe/submitSubscribe',
                success: function(result) {
                    if(result.kebab == "True"){
                        $('#nameInput').val("");
                        $('#emailInput').val("");
                        $('#passInput').val("");
                        alert("You have successfully subscribed!");
                    }
                    else{
                        $('#nameInput').val("");
                        $('#emailInput').val("");
                        $('#passInput').val("");
                        alert("Email is invalid!");
                    }
                }
            });
        });
        
    </script>

</html>
{% endblock %}