{% extends "navbar.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
        <link rel="stylesheet" type="text/css" href="{%static 'demo.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Subscriber.me</title>
        <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css' />
        <noscript>
            <style>
                table,th,td {
                    border : 1px solid black;
                    border-collapse: collapse;
                }
                th,td {
                    padding: 5px;
                }
            </style>
        </noscript>
    </head>
    
    <div id="loading">
        <img src="{% static 'playboy.gif' %}" id="loadingFull">
    </div>
    
    <body class="bga1">
        <table class="subscriberList" id="subsub" border="1">
                <th>Name</th>
                <th>Email</th>
                <th>Unsubscribe</th>
        </table>
    </body>
    
    <script>
        
        $(document).ready(function () {
            $.ajax({
                method: "GET",
                url: "/subsList/getList",
                success: function (response) {
                    var array = response.results
                    if (array.length === 0) {
                        {% comment %} alert("fix ada teman di daftar teman Anda") {% endcomment %}
                        $('#list-subs').append('<span class="list-group-item alert alert-danger text-center" role="alert"> Tidak ada teman di dalam daftar teman Anda</span>')
                    }
                    else {
                        for (var i = 0; i < array.length; i++) {
                            var button = '<button type="button" class="pull-right btn btn-xs btn-danger"' + 'onClick="deleteFriend(' + "'" + array[i].email + "'" +')">' + '&times; Unsubscribe' + '</button>' + '</div>';
                            var html = '<tr>' +
                                        '<td>' + array[i].name + '</td>' + 
                                        '<td>' + array[i].email + '</td>' + 
                                        '<td>' + button + '</td>' + '</tr>';
                            $('.subscriberList').append(html);
                        }
                        {% comment %} alert("ada teman di daftar teman Anda") {% endcomment %}
                    }
                },
                error: function(error){
                    alert("Tidak ada teman di daftar teman Anda")
                }
            });
        });

        var deleteFriend = function(email_subs){
          $.ajax({
            method :"POST",
            url : "/subsList/unsub",
            data : {email: email_subs},
            success: function(response){
                $("#subsub td").remove()
                 var array = response.results
                    if (array.length === 0) {
                        {% comment %} alert("fix ada teman di daftar teman Anda") {% endcomment %}
                        $('#list-subs').append('<span class="list-group-item alert alert-danger text-center" role="alert"> Tidak ada teman di dalam daftar teman Anda</span>')
                    }
                    else {
                        for (var i = 0; i < array.length; i++) {
                            var button = '<button type="button" class="pull-right btn btn-xs btn-danger"' + 'onClick="deleteFriend(' + "'" + array[i].email + "'" +')">' + '&times; Unsubscribe' + '</button>' + '</div>';
                            var html = '<tr>' +
                                        '<td>' + array[i].name + '</td>' + 
                                        '<td>' + array[i].email + '</td>' + 
                                        '<td>' + button + '</td>' + '</tr>';
                            $('tbody').append(html);
                        }
                        {% comment %} alert("ada teman di daftar teman Anda") {% endcomment %}
                    }
            }
          });
        }
        
        $(document).ready(function() {
            $("#loading").fadeOut(2000);
        });
    </script>
</html>
{% endblock %}