body{
	background:#f7f7f7 url (images/pattern.png) repeat top left;
	color:#000;
	font-size:13px;
	min-height:2000px;
}
a{
	color:#000;
	text-decoration:none;
}
.clr{
	clear:both;
}
h1{
	padding:20px;
	font-size:28px;
	color:#333;
	font-weight:400;
    text-align:center;
    text-shadow:1px 1px 1px #fff;
}
h1 span{
	font-size:18px;
	color:#1693eb;
}