.header {
    background-image: url(https://marvel-live.freetls.fastly.net/canvas/2018/9/cd61273ecd764c68a1744e2e683f7422?quality=95&fake=.png);
    background-size: 100%;
    height: 125px;
    margin-top : 75px;
    width : 100%;
}
 
#name {
    color: #FFFFFF;
    font-size: 45px;
    font-weight: 400;
    line-height: 117px;
    width: 75%;
    text-align: center;
}


.col-md-6 {
    padding-left : 20vmax;
}

.textarea {
    width : 600px;
    height : 300px;
}

.tree {
    position : absolute;
}

.fle {
    display: flex;
    flex-wrap: wrap;
    justify-content : center;
    margin-top : 50px;
}

/* Flexible Slide-to-top Accordion Style*/
.wrapper{
	width:90%;
	max-width:800px;
	margin:30px auto;
}
.st-accordion{
    width:100%;
    min-width:270px;
    margin: 0 auto;
}
.st-accordion ul li{
    height: 100px;
    border-bottom: 1px solid #c7deef;
    border-top:1px solid #fff;
    overflow: hidden;
}
.st-accordion ul li:first-child{
    border-top:none;
}
.st-accordion ul li > a{
    text-shadow: 1px 1px 1px #fff;
    font-size: 46px;
    display: block;
	position: relative;
    line-height: 100px;
	outline:none;
    -webkit-transition:  color 0.2s ease-in-out;
	-moz-transition:  color 0.2s ease-in-out;
	-o-transition:  color 0.2s ease-in-out;
	-ms-transition:  color 0.2s ease-in-out;
	transition:  color 0.2s ease-in-out;
}
.st-accordion ul li > a span{
	background: transparent url(images/down.png) no-repeat center center;
	text-indent:-9000px;
	width: 26px;
	height: 14px;
	position: absolute;
	top: 50%;
	right: -26px;
	margin-top: -7px;
	opacity:0;
	-webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
}
.st-accordion ul li > a:hover{
    color: #1693eb;
}
.st-accordion ul li > a:hover span{
	opacity:1;
	right: 10px;
}
.st-accordion ul li.st-open > a{
    color: #1693eb;
}
.st-accordion ul li.st-open > a span{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
    transform:rotate(180deg);
	right:10px;
	opacity:1;
}
.st-content{
    padding: 5px 0px 30px 0px;
}
.st-content p{
    font-size:  16px;
    font-style: italic;
    line-height:  28px;
    padding: 0px 4px 15px 4px; 
}
.st-content img{
    width:125px;
    border-right:1px solid #fff;
    border-bottom:1px solid #fff;
}
@media screen and (max-width: 320px){
	.st-accordion ul li > a{
		font-size:36px;
	}
}

.bga1{
    background-color: #5CDB95;
}

.bga2{
    background-color: pink;
}

#loadingFull{
    height: 100vh;
    width: 100vw;
    display: fixed;
    z-index: 1000;
    position: absolute;
}

.success {
  background: url(images/down.png) no-repeat center center;
  -webkit-animation: popping .5s 1;
  animation:         popping .5s 1;
}

.star {
  background: none;
  border: none;
  color: #555;
}

.star.active {
  color: #F4C64F;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

.star.active .fa-star {
  -webkit-animation: popping .5s 1;
  animation:         popping .5s 1;
}

@-webkit-keyframes glowing {
  0% { background-color: #E4E518; -webkit-box-shadow: 0 0 3px #E4E518; }
  50% { background-color: #FDFF00; -webkit-box-shadow: 0 0 40px #FDFF00; }
  100% { background-color: #E4E518; -webkit-box-shadow: 0 0 3px #E4E518; }
}

@-moz-keyframes glowing {
  0% { background-color: #E4E518; -moz-box-shadow: 0 0 3px #E4E518; }
  50% { background-color: #FDFF00; -moz-box-shadow: 0 0 40px #FDFF00; }
  100% { background-color: #E4E518; -moz-box-shadow: 0 0 3px #E4E518; }
}

@-o-keyframes glowing {
  0% { background-color: #E4E518; box-shadow: 0 0 3px #E4E518; }
  50% { background-color: #FDFF00; box-shadow: 0 0 40px #FDFF00; }
  100% { background-color: #E4E518; box-shadow: 0 0 3px #E4E518; }
}

@keyframes glowing {
  0% { background-color: #E4E518; box-shadow: 0 0 3px #E4E518; }
  50% { background-color: #FDFF00; box-shadow: 0 0 40px #FDFF00; }
  100% { background-color: #E4E518; box-shadow: 0 0 3px #E4E518; }
}

@-webkit-keyframes popping {
  0%   { -webkit-transform: scale(0,.00);}
  40%  { -webkit-transform: scale(0,0);}
  75%  { -webkit-transform: scale(1.3,1.3)}
  100% { -webkit-transform: scale(1,1);}
}
@keyframes popping {
  0%   { transform: scale(0,0);}
  40%  { transform: scale(0,0);}
  75%  { transform: scale(1.3,1.3)}
  100% { transform: scale(1,1);}
}